.imageContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width: 50%;
    margin: auto;
    .singleImage {
        flex: 33.33%;
      }
    img{
        width: 130px;
        height: 130px;
    }
}